:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  --accent-color: #2196f3;

  --logo-black-color: #000000;
  --logo-light-color: #ffffff;

  --primary-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;

  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-background-color);
  color: var(--secondary-text-color);

  font-family: var(--main-font);
}

ul {
  list-style: none;
}

.link {
  text-decoration: none; /* Removing the underline form a link */
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
}

/* Section HEADER */
.logo {
  color: var(--logo-black-color);

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo > span {
  color: var(--accent-text-color);
}

.navigatio-list-link,
.auth-list-link {
  color: var(--secondary-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigatio-list-link:hover,
.navigatio-list-link:focus {
  color: var(--accent-text-color);
}
.navigatio-list-link.link-aktive {
  color: var(--accent-text-color);
}

.auth-list-link {
  color: var(--primary-text-color);
}
.auth-list-link:hover,
.auth-list-link:focus {
  color: var(--accent-text-color);
}

.button.primary {
  background-color: var(--accent-color);
  color: #ffffff;

  font-family: inherit;

  border: 1px solid transparent;
}

.button.secondary {
  background-color: #ffffff;
  color: var(--accent-color);

  font-family: inherit;

  border: 1px solid transparent;
}

/* Section FOOTER */
.footer {
  padding-top: 60px;

  background-color: #2f303a;
}

.footer .logo {
  margin-bottom: 20px;

  display: inline-block;

  color: var(--logo-light-color);
}

.contacts-address {
  margin-bottom: 9px;

  display: inline-block;

  color: #ffffff;
}
.contacts-address:hover,
.contacts-address:focus {
  color: var(--accent-text-color);
}

.contacts-mail {
  margin-bottom: 9px;

  display: inline-block;
}

.contacts-tel {
  margin-bottom: 60px;

  display: inline-block;
}

.contacts-mail,
.contacts-tel {
  color: var(--primary-text-color);
}
.contacts-mail:hover,
.contacts-tel:hover,
.contacts-mail:focus,
.contacts-tel:focus {
  color: var(--accent-text-color);
}

.footer-title {
  color: #ffffff;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
