:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  --accent-color: #2196f3;

  --logo-black-color: #000000;
  --logo-light-color: #ffffff;

  --primary-background-color: #fff;
  --secondary-background-color: #f5f4fa;

  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-background-color);
  color: var(--secondary-text-color);

  font-family: var(--main-font);
}

h1,
h2,
h3,
p {
  margin: 0;
}

.logo {
  display: block;

  color: var(--logo-black-color);

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.title {
  /*From section: WHAT WE DO, OUR TEAM, REGULAR CUSTOMERS */
  margin-top: 0;
  margin-bottom: 50px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none; /* Removing the underline form a link */
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Section HEADER */
header .container {
  display: flex;
  justify-content: space-between;
}

header .logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logo > span {
  color: var(--accent-text-color);
}

.navigation,
.navigation-list,
.auth-list {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigatio-list-link,
.auth-list-link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigatio-list-link:hover,
.navigatio-list-link:focus {
  color: var(--accent-text-color);
}
.navigatio-list-link.link-aktive {
  color: var(--accent-text-color);
}

.auth-list-item:not(:last-child) {
  margin-right: 30px;
}

.auth-list-link {
  color: var(--primary-text-color);
}
.auth-list-link:hover,
.auth-list-link:focus {
  color: var(--accent-text-color);
}

.button.primary {
  background-color: var(--accent-color);
  color: #ffffff;

  font-family: inherit;

  border: 1px solid transparent;
}

.button.secondary {
  background-color: #ffffff;
  color: var(--accent-color);

  font-family: inherit;

  border: 1px solid transparent;
}
/* Section HERO */
.hero {
  padding-top: 200px;

  background-color: black;

  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: #ffffff;

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  margin-bottom: 200px;

  min-width: 200px;
  height: 50px;

  border-radius: 4px;
  padding: 10px 32px;

  text-align: center;

  cursor: pointer;
}

/* Section FEATURES */
.features {
  padding-top: 94px;
}

.features-list {
  display: flex;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-list-item .subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-list-item .description {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Section WHAT WE DO */
.we-do-list {
  display: flex;
}

.we-do-list-item:not(:last-child) {
  margin-right: 30px;
}

/* Section OUR TEAM */
.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-item .image {
  margin-bottom: 30px;
}

.team-list-item .name {
  margin-top: 0;
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list-item .position {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Section REGULAR CUSTOMERS */
.customers-list {
  display: flex;
}

.customers-list-item:not(:last-child) {
  margin-right: 30px;
}

/* Section FOOTER */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer .container {
  display: flex;
}

.footer-column-first {
  margin-right: 70px;
}

.footer .logo {
  /* display: inline-block; */

  margin-bottom: 20px;

  color: var(--logo-light-color);
}

.contacts-address {
  display: inline-block;

  margin-bottom: 9px;

  color: #ffffff;
}
.contacts-address:hover,
.contacts-address:focus {
  color: var(--accent-text-color);
}

.contacts-mail {
  display: inline-block;

  margin-bottom: 9px;
}

.contacts-tel {
  display: inline-block;
}

.contacts-mail,
.contacts-tel {
  color: var(--primary-text-color);
}
.contacts-mail:hover,
.contacts-tel:hover,
.contacts-mail:focus,
.contacts-tel:focus {
  color: var(--accent-text-color);
}

.footer-column-second {
  padding-top: 12px;
}

.footer-title {
  display: block;

  margin-bottom: 20px;

  color: #ffffff;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* Page PORTFOLIO.HTML */

/* Section FILTER */

.filter {
  padding-top: 94px;

  text-align: center;
}

.filter .button {
  padding: 6px 22px;
  border-radius: 4px;

  cursor: pointer;
}

.filter .button.secondary {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
}

/* Section WORK EXAMPLES */
.work-examples {
  padding-top: 50px;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-list-item {
  width: 370px;
  height: 404px;
}
.work-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.work-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.work-list-item .card {
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 20px;
  margin-left: 24px;
}

.work-list-img {
  margin-bottom: 20px;
}
.work-list-title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--secondary-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-list-description {
  margin-top: 0;
  margin-bottom: 20px;

  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
}
